NODE_ENV=development
PORT=3000
APP_API_PREFIX=api
DATABASE_URL="postgresql://invento:invento@localhost:5432/invento_dev?schema=public"
JWT_ACCESS_SECRET="replace-with-at-least-32-random-characters"
JWT_REFRESH_SECRET="replace-with-a-different-32-character-secret"
